
<div class="col-md-2"></div>

<div class="col-md-4">
    <h4>Past Event</h4>
    <% @past.each do |past_event| %>
        <p><%= past_event.description %></p>
    <% end %>
</div>
<div class="col-md-4">
    <h4>Upcoming Event</h4>
    <% @upcoming.each do |up| %>
        <p><%= up.description %></p>
    <% end %>
</div>
<div class="col-md-2"></div>