<h1>Events</h1>

<h4 class="text-centet">
    <%= @event.creator.name  %> 
</h4>
<h6>List of attendees</h6>
<ul>
<% @event.attendees.each do |attendee|%>
<li><%= attendee.name%></li>
<% end %>

</ul>
<%= link_to 'Back', :back %>